<h2 class= "inst1"> About Soberated </h2>
<p class="about1">
	Soberated is the first full application I built while in the <bold>New York City Code and Design Academy.</bold> It is a coctail recipe discovery app that utilizes <i>thecocktailDb.com</i> API. It was initially supposed to be an app where you could rate recipes, thus the name <i>sober-rated</i>, however I still have yet to implement that feature. So for the time being the implication of the name is that "Being <i>sober</i>is over <i>rated</i>".\! Look....I tried my best.
</p>
<p class = "about1">
	If you love a little glass of something delicious that get's you a little tipsy you've come to the right place! Whether you're at a classy cocktail bar feeling really cool, trying to be extra hipster and talk to your friend about the ingediants in your adult beverage. Or if you're a stay-at-home mom who's been at home just a little too long and need something spicy to take the edge off. Explore the world of cocktail recipes with <i>soberated<i>!
</p>
<h2 class= "inst1"> Features </h2>
<p class = "about1"><i>Soberated</i> has 3 key features. You can <bold>Search</bold> for recipes 	by name. Just make sure to check your spelling! You can try the <bold>"what's 		in the kitchen"</bold> feature, that allows you to match 2 ingrediants you 		may have on hand, and learn which craft potion you can conjure. And my  personal favorite, <bold> Discover</bold> which will introsuce you to hundreds of cocktails new and old!</p>

<p class = "about1">I hope you have as much fun as I did with this project. Please hang in there and give the pages a few seconds to load when you first fire up the app! Drink responsibly! Cheers!</p>