<%if !@result['drinks'].nil?%>
<h2 class="inst3">Here's what we came up with</h2>
<hr>
<div class='list'>
		<ul>
			<% @result['drinks'].each do |drink| %>
			<li>
			<%= link_to drink['strDrink'], drink_path(drink['idDrink'])%>
			</li>
			<li>
			<img src=<%=drink["strDrinkThumb"]%> class="drinkpic2">
			</li>

			<%end%>
		</ul>
<%else%> <h2 class= "inst1"> Check your spelling </h2>
	<h2 class= "home"><%= link_to "Home", root_path%></h2> 
		
</div>




<%end%>





